<div class="container">
<div class="col-md-6">
  <h2> Logined as the:{{User1}}</h2>
  
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Gender</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users | paginate:config;let i=index">
      
      <td>{{i+1}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.password}}</td>
      <td>{{user.gender}}</td>
      <td>
        <button class="btn btn-success" (click)="editUser(user)"><i class="fa fa-pencil"></i>
          </button>
        <button class="btn btn-danger offset-2" (click)="deleteUser(user)"><i class="fa fa-trash"></i></button></td>
    </tr>
    </tbody>
  </table>
  <button class="btn btn-danger" (click)="addUser()"> Add User</button>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  <div *ngIf="users.length == 0" class="alert alert-danger">
    No iteam is there
  </div> 
  </div>
</div> 
